<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>InternetBankingProj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CustomerAddServe</display-name>
    <servlet-name>CustomerAddServe</servlet-name>
    <servlet-class>master.servlet.CustomerAddServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerAddServe</servlet-name>
    <url-pattern>/CustomerAddServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountServe</display-name>
    <servlet-name>CreateAccountServe</servlet-name>
    <servlet-class>master.servlet.CreateAccountServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServe</servlet-name>
    <url-pattern>/CreateAccountServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAccountServe</display-name>
    <servlet-name>DeleteAccountServe</servlet-name>
    <servlet-class>master.servlet.DeleteAccountServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAccountServe</servlet-name>
    <url-pattern>/DeleteAccountServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomerServe</display-name>
    <servlet-name>DeleteCustomerServe</servlet-name>
    <servlet-class>master.servlet.DeleteCustomerServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomerServe</servlet-name>
    <url-pattern>/DeleteCustomerServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServe</display-name>
    <servlet-name>ChangePasswordServe</servlet-name>
    <servlet-class>master.servlet.ChangePasswordServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServe</servlet-name>
    <url-pattern>/ChangePasswordServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUPD_Serve</display-name>
    <servlet-name>CustomerUPD_Serve</servlet-name>
    <servlet-class>master.servlet.CustomerUPD_Serve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUPD_Serve</servlet-name>
    <url-pattern>/CustomerUPD_Serve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountUPD_Serve</display-name>
    <servlet-name>AccountUPD_Serve</servlet-name>
    <servlet-class>master.servlet.AccountUPD_Serve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountUPD_Serve</servlet-name>
    <url-pattern>/AccountUPD_Serve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountUPD_II_Serve</display-name>
    <servlet-name>AccountUPD_II_Serve</servlet-name>
    <servlet-class>master.servlet.AccountUPD_II_Serve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountUPD_II_Serve</servlet-name>
    <url-pattern>/AccountUPD_II_Serve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransferServe</display-name>
    <servlet-name>FundTransferServe</servlet-name>
    <servlet-class>master.servlet.FundTransferServe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransferServe</servlet-name>
    <url-pattern>/FundTransferServe</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateFD_Serve</display-name>
    <servlet-name>CreateFD_Serve</servlet-name>
    <servlet-class>master.servlet.CreateFD_Serve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateFD_Serve</servlet-name>
    <url-pattern>/CreateFD_Serve</url-pattern>
  </servlet-mapping>
</web-app>